body {
  overflow: hidden;
}
.App {
  text-align: center;
  padding: 50px;
}
.slot {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.reward {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.reward button {
  opacity: 0;
}
